doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    title 自我介紹
    // 鏈接 CSS 文件
  body
    .bg
    header.title
      h1 自我介紹
      .title_line
      p 姓名.畢業系所.工作.研究興趣.想學到什麼.興趣
    // 其他內容...
